<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Vap0r's Blog</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
  <link rel="stylesheet" href="assets/css/header.css">
  <link rel="stylesheet" href="assets/css/footer.css">
  
  <link rel="stylesheet" href="assets/css/sidebar.css">	

</head>
<body>

<!--在这里编写你的代码-->

<div id="header">
	<a href="http://blog.vap0r.cn">Vap0r's Blog</a>
</div>

<div class="am-g body">
	<div class="am-u-lg-8 am-u-lg-offset-2" id="contents">
		<div id="menu">
	<a href="http://blog.vap0r.cn">Home</a>
	<a href="http://blog.vap0r.cn/about.html">About</a>
</div>
		
		<ul class="arts">
		
			
				<div class="time">2015</div>
			
			<li>
				<div class="title">
					<a class="title-label">加密算法总结</a>
					<div class="tags">
						<span class="tags-icon"></span>
						
						<a class="tags-item">tag1</a>
						
						<a class="tags-item">tag2</a>
						
					</div>
				</div>
			</li>
		
			
			<li>
				<div class="title">
					<a class="title-label">WinHex 14.1 SR-6 爆破</a>
					<div class="tags">
						<span class="tags-icon"></span>
						
						<a class="tags-item">tag1</a>
						
					</div>
				</div>
			</li>
		
			
				<div class="time">2014</div>
			
			<li>
				<div class="title">
					<a class="title-label">西普学院 – 逆向 – 此处无声</a>
					<div class="tags">
						<span class="tags-icon"></span>
						
						<a class="tags-item">tag1</a>
						
						<a class="tags-item">tag2</a>
						
					</div>
				</div>
			</li>
		
		</ul>
	</div>

</div>

<div id="footer">
	<p>&copy;2015 Vap0r's Blog.</p>
</div>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>